// Login and Register
.woocommerce {
  form {
    .form-row {
      label {
        @include font(18, 0, 500);
        color: var(--main-color);
        text-transform: uppercase;
        &.woocommerce-form-login__rememberme {
          text-transform: none;
        }
      }
      input.input-text {
        border: 0;
        background-color: transparent;
        color: var(--main-color) !important;
        outline: none;
        @include padding(15, 20, 15, 0);
        margin-bottom: toRem(15);
        width: 100%;
        border-bottom: 1px solid rgba($c-51423C, 0.2);
        @include font(18, 0, 300);
      }
    }
    &.corsivalab-form {
      .woocommerce-form-login__submit,
      .woocommerce-form-register__submit {
        float: none;
        margin-bottom: toRem(20);
        background-color: var(--bg-second-color);
      }
    }
  }
  .lost_password {
    text-align: right;
    margin-bottom: toRem(20);
    a {
      @include font(20, 0);
      color: var(--main-color);
    }
  }

  form.login,
  form.register {
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
  .u-columns .col-6:first-child() {
    border-right: 1px solid $black;
  }
  .u-column1 {
    margin-right: toRem(40);
  }
  .u-column2 {
    margin-left: toRem(40);
  }

  // .box-img-login {
  //   position: relative;
  //   padding-top: 100%;
  //   @include responsive(tablet) {
  //     margin-top: toRem(50);
  //   }
  //   .image {
  //     position: absolute;
  //     width: calc(
  //       100% + calc(calc(100vw - toRem($w-container))) / 2 + toRem(20)
  //     );
  //     height: 100%;
  //     top: 0;
  //     left: 0;
  //     object-fit: cover;
  //     @include responsive(tablet) {
  //       width: 100%;
  //     }
  //     img {
  //       width: 100%;
  //       height: 100%;
  //       object-fit: cover;
  //     }
  //   }
  // }
}

.woocommerce-account {
  .content-area {
    position: relative;
    overflow: hidden;

    padding-top: toRem(60);
  }
}
