// .product-inner,
// .cart .cart_item td {
.woocommerce {
  .product{

  
  .product-inner{

    .price {
      @include font(20, 0, 600);
      margin-bottom: toRem(10);
      color: var(--main-color);
      ins {
        // color: var(--main-color);
        text-decoration: none;
        // display: block;
      }
      // del {
      //   color: var(--main-color);
      //   display: block;
      // }
    }
  }
}

.entry-summary {
  .price {
    @include font(30, 0, 600);
    margin-bottom: toRem(20);
    text-align: left;
    ins {
      color: var(--main-color);
    }
    del {
      // @include font($fs-20, $fs-20 + 4);
    }
  }
}
  }
