.woocommerce {
  .woocommerce-breadcrumb {
    padding-top: toRem(50);
    padding-bottom: toRem(20);
    text-transform: uppercase;
    @include font(20, 0);
    font-weight: 700;
    color: var(--main-color);
    a,
    span {
      color: var(--second-color);
    }
    // .current-item {
    //   font-weight: 700;
    //   color: var(--main-color);
    // }
    // color: var(--main-color);
    // margin-bottom: toRem(40);
    // a,
    // span {
    //   @include font($d-fs, $d-fs + 4);
    //   color: var(--main-color);
    // }
  }
  .categories-slide-inner {
    position: relative;
    .category-img {
      margin-bottom: toRem(10);
    }
    .category-title {
      a {
        @include font(18, 0, 700);
        color: var(--main-color);
        display: block;
        text-align: center;
        text-decoration: none;
      }
    }
    .swiper-button-next-unique,
    .swiper-button-prev-unique {
      height: toRem(40);
      width: toRem(40);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: var(--bg-color);
      color: var(--main-color);
      position: absolute;
      top: 30%;
      z-index: 9;
      // &::after {
      //   display: none;
      // }
    }
    .swiper-button-next-unique {
      background-color: #51423c;
      color: var(--bg-color);
      right: toRem(-20);
    }
    .swiper-button-prev-unique {
      left: toRem(-20);
    }
  }
  span.onsale {
    background-color: var(--main-color);
    color: $white;
    top: toRem(20);
    right: 0;
    left: unset;
    border-radius: 0;
    @include font($d-fs, $d-fs + 4);
    font-weight: 400;
    min-height: unset;
    min-width: unset;
    @include padding(5, 13, 5, 13);
    z-index: 2;
  }
  form.woocommerce-ordering {
    display: block;
  }
  .top-header-woo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: toRem(50);
    border-top: 1px solid rgba($c-51423C, 0.3);
    border-bottom: 1px solid rgba($c-51423C, 0.3);
    // padding: 20px 0;
    @include font(20, 0);
  }
  .woocommerce-result-count {
    margin-bottom: 0;
    @include font($d-fs, $d-fs + 4);
    float: none;
  }
  .filter-left {
    color: var(--main-color);
    // @include padding(10, 0, 30, 0);
    .filter-top {
      @include padding(0, 0, 20, 0);
    }
    .filter-btn {
      cursor: pointer;
      span {
        margin-right: toRem(10);
      }
    }
    .dropdown-icon {
      width: toRem(11);
    }
  }
  .filter,
  .minicart {
    &-container {
      position: fixed;
      left: 0;
      top: 0;
      background: #fff;
      height: 100%;
      width: toRem(600);
      z-index: 99;
      right: auto;
      transform: translate3d(-100%, 0, 0);
      -webkit-transform: translate3d(-100%, 0, 0);
      -webkit-transition: transform 0.25s ease;
      -webkit-transition: -webkit-transform 0.25s ease;
      transition: -webkit-transform 0.25s ease;
      -o-transition: transform 0.25s ease;
      transition: transform 0.25s ease;
      transition: transform 0.25s ease, -webkit-transform 0.25s ease;
      overflow-y: scroll;
      height: 100%;
      &.active {
        -ms-transform: none;
        transform: none;
        -webkit-transform: none;
      }
    }

    &-inner {
      @include padding(30, 60, 60, 60);
    }
    &-title {
      background: var(--bg-color);
      color: var(--main-color);
      @include font(40, 0, 500);
      @include padding(30, 60, 30, 60);
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        max-width: toRem(30);
        height: auto;
        cursor: pointer;
      }
    }
  }

  .minicart-container {
    position: absolute;
    left: unset;
    right: 0;
    top: 100%;
    width: toRem(800);
    height: auto;
    overflow: hidden;
    transform: translate3d(110%, 0, 0);
    -webkit-transform: translate3d(110%, 0, 0);
    @include responsive(tablet){
      width: 100vw;
    }
    .minicart-inner {
      max-height: toRem(600);
      overflow-y: scroll;
    }
  }

  .filter-right {
    color: var(--main-color);
    .woocommerce-ordering {
      .dropdown-toggle {
        cursor: pointer;
        padding: 20px 0;
        .dropdown-icon {
          width: toRem(11);
        }
        &::after {
          display: none;
        }
      }
      .dropdown-menu {
        width: toRem(230);
        background-color: var(--bg-color);
        border: 1px solid var(--border-color);
        border-radius: 0;
        margin-top: -2px !important;
        @include padding_all(20);
        .dropdown-item {
          @include font(18, 0, 500);
          color: rgb(81 66 60 / 40%);
          background-color: transparent;
          text-decoration: none;
          @include padding(0, 0, 10, 0);
          @include margin(0, 0, 10, 0);
          border-bottom: 1px solid var(--border-color);
          &:hover {
            color: var(--main-color);
          }
        }
        li {
          &:last-child {
            .dropdown-item {
              border-bottom: 0;
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }

    div.berocket_lgv_widget a.berocket_lgv_button {
      line-height: 1.5;
      width: auto;
      height: auto;
      background: transparent;
      border: 0;
      box-shadow: none;
      border-radius: 0;
      vertical-align: baseline;
      margin: 0;
      padding: 0 10px;
      img {
        max-width: toRem(20);
      }
      &:not(:last-child) {
        border-right: 1px solid var(--border-color);
      }
    }
  }
  .hide-filter {
    img {
      width: 14px;
      margin-right: toRem(10);
      filter: brightness(0%);
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $black;
      background: none;
      border: 1px solid #000000;
      font-family: $primary-ff;
      @include font($d-fs, 17);
      @include transition();
      outline: none;
      cursor: pointer;
      @include padding(10, 20, 10, 20);
      &.open-filter {
        background: $black;
        color: $white;
        img {
          filter: unset;
        }
      }
    }
  }
  form.woocommerce-ordering {
    margin: 0;
    max-width: unset;
    float: none;
    display: inline-block;
    // max-width: toRem(200);
    // select {
    //   color: var(--main-color);
    //   background: #f4f6f8;
    //   border: 0;
    //   text-align: center;
    //   margin: 0;
    //   @include padding(9, 20, 10, 20);
    //   font-family: $primary-ff;
    //   @include font($d-fs, 17);
    //   outline: none;
    // }
  }
  .berocket_lgv_widget {
    display: inline-flex;
    vertical-align: 3px;
  }
  .filter-main,
  .filter-bottom {
    background: #f3f3f3;
  }
  .reset-all {
    .bapf_reset {
      text-decoration: underline;
      color: #07b8ff;
      text-transform: uppercase;
      @include font(12, 16);
      font-family: $primary-ff;
      background: none;
      border: 0;
    }
    .berocket_single_filter_widget {
      margin: 0;
      padding: 0;
      border: 0;
    }
  }
  .berocket_ajax_group_filter_title {
    letter-spacing: toRem(2);
    text-transform: capitalize;
    @include font(40, 44, 600);
  }
  .bapf_head {
    h3 {
      @include font(24, 0, 700);
      color: var(--main-color);
      text-transform: uppercase;
      margin-bottom: toRem(20);
    }
  }
  .berocket_single_filter_widget {
    .bapf_ckbox,
    .bapf_slidr {
      padding-bottom: toRem(30);
      margin-bottom: toRem(30);
      border-bottom: 1px solid rgba(#000, 0.3);
    }
  }
  .bapf_sfilter {
    margin-bottom: 0;
    ul {
      margin: 0;
      padding: 0 !important;
    }
    // .bapf_head {
    //   h3 {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     border-top: 1px solid rgba(var(--main-color), 0.3);
    //     padding-top: 20px;
    //     margin-bottom: 20px;
    //     @include font($d-fs, $d-fs + 4);
    //     font-weight: 700;
    //     text-transform: uppercase;
    //     padding-right: 0;
    //   }
    // }
    ul,
    #custom-ordering {
      text-align: left;
      @include padding(0, 30, 0, 30);
    }
    li {
      display: inline-block;

      width: 50%;
      margin-bottom: toRem(10) !important;
      &:last-child {
        margin-bottom: 0 !important;
      }
      .roundpcs {
        margin-left: toRem(5);
      }
    }
    label {
      margin-bottom: 0;
      color: var(--main-color);
      @include font(20, 0);
      cursor: pointer;
      @include transition();
      &:hover {
        font-weight: 500;
      }
    }
    input {
      @include margin(0, 10, 0, 0);
      outline: none;
      outline-offset: unset;
      width: auto;
      -webkit-appearance: none;
      background-color: var(--bg-color);
      padding: toRem(9);
      border: 0;
      border-radius: 0;
      vertical-align: text-bottom;
      position: relative;
      border: 1px solid var(--border-color);
      &:checked:after {
        content: "\f00c";
        font-size: toRem(15);
        line-height: 1.2;
        position: absolute;
        color: #fff;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: var(--fa-display, inline-block);
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        font-family: "Font Awesome 6 Pro";
        font-weight: 700;
        background: var(--main-color);
        text-align: center;
        inset: 0;
      }
    }
    .bapf_button {
      &.bapf_update {
        border: 0;
        display: block !important;
        width: 100%;

        border-radius: toRem(10);
        @include padding(16, 40, 16, 40);
        color: var(--main-color);
        background: var(--bg-color) !important;
        @include font(16, 0, 700);
        text-decoration: none;
        cursor: pointer;
        @include transition();
        margin-bottom: toRem(10);
      }
      &.bapf_reset {
        border: 1px solid var(--main-color);
        border-radius: toRem(10);
        @include padding(16, 40, 16, 40);
        display: block !important;
        width: 100%;
        color: var(--main-color);
        background: var(--bg-color);
        @include font(16, 0, 700);
        font-family: $primary-ff;
        text-decoration: none;
        cursor: pointer;
        background-color: transparent;
        &:hover {
          color: var(--main-color);
          background: var(--bg-color);
          border-color: var(--bg-color);
        }
        @include transition();
      }
    }
    .ui-slider-range,
    .ui-slider-handle {
      background: var(--main-color) !important;
    }
    .bapf_slidr_main.ui-widget-content {
      height: 2px;
    }
  }
  .filter-bottom {
    .btn-group {
      justify-content: center;
      display: flex;
      @include padding(20, 0, 20, 0);
    }
    .bapf_reset {
      background-color: #cacaca;
      @include padding(10, 50, 10, 50);
      @include font($d-fs, 17);
      font-family: $primary-ff;
      display: inline-block;
      width: auto;
      border: 0;
    }
  }
  .product-inner {
    .excerpt-product {
      margin-bottom: toRem(10);
      color: var(--main-color);

      display: block;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .product-image {
      position: relative;
      overflow: hidden;
      display: block;
      img {
        width: 100%;
      }
      .button {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        display: block;
        margin-bottom: -1px;
        width: 100%;
        filter: blur(0);
        transition: opacity 0.5s, transform 0.3s, max-height 0.6s, filter 0.6s;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transform: translateY(100%) translateZ(0);
        text-decoration: underline;
        border-radius: 0;
        background-color: rgb(81 66 60 / 50%);
        color: #fff;
        padding: toRem(24) 0;
      }
      &:hover .button {
        opacity: 1;
        transform: none;
      }
      .added_to_cart {
        display: none;
      }
    }
  }
  .woocommerce-loop-product__title {
    @include font(24, 0, 500);
    color: var(--main-color);
    position: relative;
    @include margin(0, 0, 10, 0);
    text-align: left;
  }
  .woocommerce-loop-product__link {
    text-decoration: none;
  }
  .product-top-info {
    @include padding(16, 0, 0, 0);
    overflow: hidden;
    @include responsive(mobi) {
      max-height: unset;
      min-height: unset;
    }
  }
  #btn-sidebar-expend {
    display: none;
    @include responsive(mobi) {
      display: block;
      position: fixed;
      top: 50vh;
      z-index: 999;
      padding: 4px 20px;
      color: $white;
      background-color: var(--main-color);
      letter-spacing: 2px;
      border: none;
      text-transform: uppercase;
      transform: rotateZ(90deg);
      transform-origin: center;
      width: 100px;
      height: 34px;
      left: -34px;
      cursor: pointer;
    }
  }
  .sidebar-product {
    &.active {
      left: 0;
      #btn-sidebar-expend {
        position: absolute;
        top: 0;
        right: 0;
        left: unset;
        transform: unset;
      }
    }
    @include responsive(mobi) {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100vw;
      height: 100vh;
      z-index: 9;
      background: $white;
      overflow-y: auto;
      padding: 50px 20px;
      transition: left 0.5s ease-in-out;
    }
  }
}
.corsivalab-nav-woocommerce {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: toRem(20);
  span {
    @include padding(0, 20, 0, 20);
  }
  a {
    position: relative;
    border: 1px solid var(--main-color);
    background-color: $white;
    outline: none;
    width: 35px;
    height: 35px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: toRem(10);
    }
  }
}

.admin-bar {
  &.woocommerce {
    .filter-container,
    .minicart-container1 {
      top: 32px;
    }
  }
}

.woocommerce {
  .wvs-archive-variations-wrapper {
    margin-top: toRem(20);
  }
  ul.variable-items-wrapper {
    margin-bottom: 0;
  }
}
