.single-product {
  div.product div.images,
  #content div.product div.images,
  div.product div.summary,
  #content div.product div.summary {
    float: none;
    width: 100%;
    text-align: left;
  }
  div.product {
    .product_title {
      @include font(40, 0, 700);
      font-family: $primary-ff;
      position: relative;
      @include margin(0, 0, 20, 0);
      color: var(--main-color);
    }
  }
  .entry-summary {
    padding-top: toRem(10);
    i {
      color: var(--main-color);
      font-weight: 400;
      display: block;
    }
    .star-rating {
      color: var(--main-color);
      @include margin(7, 5, 0, 0);
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  .term-image,
  .woocommerce-product-details__short-description {
    margin-bottom: toRem(20);
    border-bottom: 1px solid rgb(81 66 60 / 50%);
    padding-bottom: toRem(20);
    text-align: left;
    p {
      margin-bottom: toRem(10);
    }
  }
  .max-width {
    max-width: toRem(200);
    margin: 0 auto;
    margin-top: toRem(50);
  }
  .section-main-product {
    margin-bottom: toRem(20);
  }

  form.cart {
    margin-bottom: 2em;
    .button {
      border: 0;
      font-family: $primary-ff;
      float: none;
      clear: both;

      background: var(--main-color) !important;
      @include padding(8, 30, 10, 30);
      display: inline-block;
      color: $white !important;
      @include font(20, 0, 400);
      text-decoration: none;
      border-radius: 19px;
      @include transition();
      &:hover {
        background: var(--main-color);
      }
      img {
        max-width: 22px;
        margin-left: 4px;
      }
    }
    .variations select {
      background: #f4f6f8;
      border: 0;
      color: var(--main-color);
      margin: 0;
      @include padding(14, 20, 14, 20);
      font-family: $primary-ff;
      @include font(20, 0, 400);
      outline: none;
    }
  }
  .corsivalab-has-thumbnail .woocommerce-product-gallery__wrapper {
    transition: none;
  }
  .corsivalab-has-thumbnail .woocommerce-product-gallery__image {
    width: 48% !important;
    float: left;
    margin-right: 0;
    margin-bottom: 4%;
    &:nth-child(2n + 1) {
      margin-right: 4%;
    }
  }
  .woocommerce-Tabs-panel {
    ul {
      margin-left: toRem(25);
    }
  }
}
.woocommerce {
  div.product {
    .woocommerce-tabs ul.tabs {
      @include margin(0, 0, 30, 0);
      padding: 0;
      text-align: left;
      border-bottom: 2px solid #f4f5f7;
      overflow: unset;
    }
    .woocommerce-tabs ul.tabs::before,
    .woocommerce-tabs ul.tabs li::before,
    .woocommerce-tabs ul.tabs li::after {
      display: none;
    }
    .woocommerce-tabs ul.tabs li {
      border: 0;
      margin: 0;
      background-color: $white;
      @include padding(0, 20, 0, 20);
      a {
        position: relative;
        @include font(20, 0, 700);
        @include padding(10, 0, 20, 0);
        @include transition();
        &::after {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          height: 2px;
          width: 100%;
          background: transparent;
        }
      }
      &.active {
        a {
          color: var(--main-color);
          &::after {
            background-color: var(--main-color);
          }
        }
      }
    }
  }
}

.wcpa_form_outer {
  margin-bottom: 0;
}

.wcpa_form_item {
  margin: 0;
  position: relative;
  padding-bottom: 20px;
}

.wcpa_price_summary {
  background: none;
  ul {
    padding: 0;
    border: 0;
    margin: 0 0 40px 0;
    li {
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: middle;
      > span:not(.wcpa_price_outer) {
        display: none;
      }
      .wcpa_price_outer {
        float: none;
        text-align: left;
      }
      .wcpa_price_outer span {
        @include font(30, 0, 600);
        // color: var(--main-color);
        // color: var(--second-color);
        color: red;
        vertical-align: bottom;
      }
    }
  }
}

.wcpa_form_outer {
  label {
    @include font(20, 0, 700);
    color: var(--main-color);
  }
  .wcpa_form_item {
    .color-group {
      &.wcpa_sel_type_tick {
        .wcpa_color {
          &:first-child {
            label {
              .label_inside {
                padding-left: 0;
              }
            }
          }
          &:last-child {
            label {
              border-right: 0;
            }
          }
          label {
            border-right: 1px solid #a09993;
            .label_inside {
              width: auto;
              color: rgb(81 66 60 / 50%);
              padding: 0 toRem(20);
              &:after {
                display: none;
              }
            }
            span {
              box-shadow: none !important;
              border: 0;
            }
          }
          input {
            &:checked + label {
              span {
                border: 0;
                color: var(--main-color);
              }
            }
          }
        }
      }

      &.wcpa_sel_type_border {
        .wcpa_color {
          label {
            // border-right: 1px solid #a09993;
            // .label_inside {
            //   width: auto;
            // }
            @include padding-lr(0, 20);
            span {
              border: 2px solid #a09993;
              &.wcpa_clb_border {
                border: 0;
              }
            }
          }
          input {
            &:checked + label {
              span {
                border: 2px solid var(--main-color);
              }
            }
          }
        }
      }
    }
  }
}

.content-product
  .type-product.product
  .yith-par-message.yith-par-message-product {
  margin-bottom: 1rem;
}

.wpgs-wrapper .slick-prev,
.wpgs-wrapper .slick-next {
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--bg-color);
  background-color: var(--main-color);
  &:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    font-family: "Font Awesome 6 Pro" !important;
    font-weight: 300;
  }
}
.wpgs-image .slick-next,
.wpgs-image:hover .slick-next {
  right: 20px;
}

.wpgs-image .slick-prev,
.wpgs-image:hover .slick-prev {
  left: 20px;
}

.wpgs-wrapper .slick-next:before {
  content: "\f178";
}
.wpgs-wrapper .slick-prev:before {
  content: "\f177";
}

.thumbnail_image.slick-current {
  border: 1px solid rgb(81 66 60 / 50%)!important;
  box-shadow: none;
}