// Thank you

.thankyou-page {
  padding-top: toRem(80);
}
.sub-thankyou {
  @include font(18, 0);
  margin-bottom: toRem(20);
  img {
    max-width: toRem(30);
    margin-right: toRem(10);
  }
}
.order-information {
  text-align: center;
  @include font(18, 0, 700);
  color: var(--main-color);
  b {
    font-weight: 400;
    margin-right: toRem(5);
  }
  li{
    margin-bottom: toRem(10);
    *{
      display: inline-block;
    }
  }
}

.point-txt-thankyou {
  background: var(--bg-color);
  text-align: center;
  color: #fff;
  @include padding(20, 0, 20, 0);
  @include font(20, 0);
}

.point-txt-thankyou p:last-child {
  font-weight: 700;
}

.point-txt-thankyou p {
  margin: 0;
  padding: 0;
}

.woocommerce {
  table.shop_table {
    thead {
      background: none;
    }
  }
}
