// Thank you
.thankyou-page {
  padding-top: toRem(80);
}
.sub-thankyou {
  @include font(18, 0);
  margin-bottom: toRem(20);
  img {
    max-width: toRem(30);
    margin-right: toRem(10);
  }
}
.order-information {
  text-align: center;
  @include font(18, 0, 700);
  color: var(--main-color);
  b {
    font-weight: 400;
    margin-right: toRem(5);
  }
  li {
    margin-bottom: toRem(10);
    * {
      display: inline-block;
    }
  }
}
.woocommerce {
  .shop_table {
    &.order_details {
      td,
      th {
        @include padding(20, 0, 20, 0);
      }
      th {
        color: var(--main-color);
      }
      .order_item{
        a{
          color: var(--main-color);
          text-decoration: none;
          
        }
      }
    }
  }
  .woocommerce-customer-details {
    .woocommerce-column__title {
      color: var(--main-color);
      @include font(20, 0, 700);
      border-bottom: 1px solid #333;
      text-transform: uppercase;
      padding-bottom: toRem(20);
      margin-bottom: toRem(20);
    }
    address{
      border: 0;
      background: transparent;
      padding: 0;
    }
  }
}
