footer {
  background-color: #ece4db;
  @include padding_tb(130, 40);
  @include responsive(tablet) {
    @include padding_tb(50, 50);
  }
  .middle-footer {
    margin-bottom: toRem(40);
    @include responsive(tablet) {
      margin-bottom: 0;
    }
  }
  .widget-title {
    @include font(20, 0, 700);
    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: toRem(30);
  }
  .footer-widget {
    .widget-content {
      margin-bottom: toRem(40);
      > img {
        max-width: toRem(200) !important;
      }
    }
    li {
      a {
        color: var(--main-color);
        @include font(20, 0);
        margin-bottom: toRem(25);
        display: block;
        text-decoration: none;
      }
    }
  }
  .copyright {
    @include font(20, 0);
    color: var(--main-color);
    opacity: 0.7;
  }
  p {
    opacity: 0.7;
  }
}
.social-list {
  display: -webkit-box;
  li {
    &:not(:last-child) {
      margin-right: 10px;
    }
    img {
      max-width: toRem(40);
    }
  }
}
.mc4wp-form {
  .form-inner {
    display: flex;
    gap: toRem(10);
  }
  input {
    width: 100%;
  }
  input[type="submit"] {
    border-radius: 4px;
    @include padding(5, 30, 5, 30);
    display: inline-block;
    color: var(--main-color);
    background: var(--bg-color);
    @include font(16, 0, 700);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    width: auto;
  }
  input:not([type="submit"]) {
    @include font(18, 0, 300);
    background: transparent;
    border-bottom: 1px solid var(--main-color);
    @include padding(10, 20, 10, 0);
  }
}
